name: ETL Pipeline

on:
    workflow_dispatch:

    # schedule:
    #     - cron: '0 0 * * *'  # Runs at 12.00 AM every day


jobs:
    extract-and-load:
        name: Extract and Load Raw Data to Postgres
        runs-on: ubuntu-latest
    
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up python 3.10
              uses: actions/setup-python@v6
              with:
                python-version: "3.10"
            
            - name: Install dependencies
              run: |
                echo "Installing requirements ..."
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Extract and Load Raw Data to Postgres
              run: python elt/main.py

