name: ETL Pipeline

on:
    workflow_dispatch:

    # schedule:
    #     - cron: '0 0 * * *'  # Runs at 12.00 AM every day


jobs:
    extract-and-load:
        name: Extract and Load Raw Data to Postgres
        runs-on: ubuntu-latest
        env:
            DATABASE_USER: ${{ secrets.DATABASE_USER }}
            DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
            DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
 
        services:
            postgres:
                image: postgres:14
                env:
                    POSTGRES_USER: ${{ env.DATABASE_USER }}
                    POSTGRES_PASSWORD: ${{ env.DATABASE_PASSWORD }}
                    POSTGRES_DB: ${{ env.DATABASE_NAME }}
                ports:
                    - "5432:5432"
                options: --name postgres_db --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
            
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up python 3.10
              uses: actions/setup-python@v5
              with:
                python-version: "3.10"
            
            - name: Install dependencies
              run: |
                echo "Installing requirements ..."
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Install dependencies
              run: |
                docker container ps

            # - name: Extract and Load Raw Data to Postgres
            #   env:
            #     DATABASE_NAME: ${{ env.DATABASE_NAME }}
            #     DATABASE_USER: ${{ env.DATABASE_USER }}
            #     DATABASE_PASSWORD: ${{ env.DATABASE_PASSWORD }}
            #     DATABASE_HOST: postgres
            #     PORT: ${{ job.services.postgres.ports[5432] }}
            #   run: |
            #     echo "Hello world"
            #     python etl/main.py

