name: ETL Pipeline

on:
    workflow_dispatch:

    # schedule:
    #     - cron: '0 0 * * *'  # Runs at 12.00 AM every day


jobs:
    extract-and-load:
        name: Extract and Load Raw Data to Postgres
        runs-on: ubuntu-latest
 
        services:
            postgres:
                image: postgres:14
                env:
                    POSTGRES_USER: ${{ secrets.DATABASE_USER }}
                    POSTGRES_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
                    POSTGRES_DB: ${{ secrets.DATABASE_NAME }}
                ports:
                    - "5432:5432"
                options: >-
                    --hostname postgres_db
                    --health-cmd="pg_isready -U ${{ secrets.DATABASE_USER }}" 
                    --health-interval=10s 
                    --health-timeout=5s 
                    --health-retries=5
            
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up python 3.10
              uses: actions/setup-python@v6
              with:
                python-version: "3.10"
            
            - name: Install dependencies
              run: |
                echo "Installing requirements ..."
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Extract and Load Raw Data to Postgres
              run: python etl/main.py

